body, #mainWrapper {
	height: 70%;
	background-image: url('../images/bg.png');
	font-family: "Lato", sans-serif;
}

label {
  background-color: #F27D00;
  color: #FFFFFF;
}

.tablink {
  background-color: #F27D00;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 25%;
}

.tablink:hover {
  background-color: #FFFFFF;
  color: #F27D00;
}

/* Style the tab content */
.tabcontent {
  color: #FFFFFF;
  display: none;
  padding: 20px;
  text-align: center;
}

body, .form-control {
	font-size: 12px !important;
	
}

.floatLeft {
	float: left;
	margin-left: 18px;
}

.required {
	color: red;
}

.formcontainer {
	background-color: #F27D00;
	padding: 10px;
}

.tablecontainer {
	padding-left: 10px;
}

.control-lable {
	text-align: left;
	padding: 7px 0;
}

.generic-container {
	width: 70%;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #F27D00;
	border: 1px solid #FFF;
	box-shadow: 0 0 10px orange;
}
